product { 
    color: rgb(37, 49, 73); 
    background-color : rgb(171, 227, 255); 
    width: 100%;
    margin-left:20px;
}

item {
    display:block;
    border: 1px solid rgb(179, 180, 180); 
    margin:0.5em;  
    padding:0.5em;  
    background-color:whitesmoke;
}

name, description, price, categories, edition, price, category{ 
    display:block; 
} 

name { 
    font-size : 25px; 
    font-weight : bold; 
} 

price::before {
    content: "$";
}

description::before {
    content: "Item Description: ";
}

categories::before {
    content: "Categories:";
}

category::before {
    content: "\00a0\00a0\00a0-\00a0\00a0\00a0";
}